*{

	font-family: "Courier New", monospace;
	font-size: 20px;

}
html{
	scroll-behavior: smooth;

}


body{


	background-color: skyblue;
}

nav{

	background-color: white;

}

a:hover{

	background-color: #b4d6de;
}

/*nav > div{

	display: inline-block;
	float: right;

}*/
/*
body > section > form > label{

	color: red;
}
*/
#top > div{
	
	display: inline-block;
	float: right;

}

h2{

	font-size: 1.5rem;

}

h1{

	color: red;
	font-size: 2rem;
	text-align: center;
}

ol{

	list-style-type: none;

}
section{

	height: 100vh;
	text-align: center;

}

#zuitt-motto{

	letter-spacing: 5px;
	font-size: 30px;

}

.offered-items{

	text-transform: uppercase;

}

input[required]{

	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3+img{

	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section li{

	color: darkgreen;

}

h2~a{

	text-decoration: line-through;

}

form{

	color: rgb(0, 0, 128);
	text-align: center;
	background-color: whitesmoke;
	border: 2px solid black;
	width: 25vw;
	position: relative;
	left: 37.25%;

}

button{

	color: whitesmoke;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;


}

button:hover{

	background-color: #b4d6de;
}