

#paragraph{

	color: yellow;
}

*{

	font-family: "Times New Roman", monospace;
	font-size: 20px;

}

h1{

	font-size: 2rem;
}

#bootcamp{

	text-transform: uppercase;
}

.language{

	background-color: #93C572;
}


li[value]{


	border: 2px solid #2A52BE;
}

img + ul{
	list-style-type: none;


}

section img{

	height: 140px;
	width: 140px;
	border-radius: 70px;
}

h3~p{

	color: black;
	text-align: center;

	}

.list > li{

	letter-spacing: 8px;
	

}

